<div class="list-mini">
  <ion-list>
    <button class="list-item" ion-item *ngFor="let item of items">
          <ion-row no-padding class="content-row one-line">
            <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
            <ion-col no-padding width-18 class="item-avatar">
              <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="item.product.image"></preload-image>
            </ion-col>
            <ion-col no-padding width-82 class="item-content">
              <h3 class="item-title">No. {{item.docno}}</h3>
              <p class="item">{{item.product.name}}</p>  
              <p class="item">Qty {{item.qty}}</p>                        
              <p class="item"><b>{{item.amount | number}}  ฿</b></p>          
            </ion-col>
            <ion-col no-padding width-10 class="item-icon">
                <p class="created">{{item.date | date:'dd-MM-yyyy'}}</p>  
                <p class="status-pass" *ngIf="item.status === 'receive'">{{item.status}}</p>   
                <p class="status-danger" *ngIf="item.status === 'unpaid'">{{item.status}}</p>                                  
              <!-- <ion-icon name="arrow-forward"></ion-icon> -->
            </ion-col>
          </ion-row>
        </button>
  </ion-list>
</div>