history-list-view {
    .list-mini {
        @include layout-list-styles($theme-color-2, $white-d);
        ion-list {
            .list-item {
                .content-row {
                    .item-title {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &.one-line {
                        @include align-items(center);
                        .item-description {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    .created {
        position: absolute;
        top: -30px;
        right: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 70%;
        color: #939393;
    }
    .status-pass {
        position: absolute;
        top: 18px;
        right: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 120%;
        color: #24d22b;
    }
    .status-danger {
        position: absolute;
        top: 18px;
        right: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 120%;
        color: #F44336;
    }
}